
.voyage-card {
    margin-bottom: 30px;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    display: block;
}

.voyage-info {
    background: #F8F8F8;
    padding: 30px 20px;
    text-align: center;
    margin-top: -4px;
}

.voyage-info p {
    margin: 0 0 25px;
}

.discover-link {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

